<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" type="button" routerLink="new">
      Add New Player
    </button>
    <button class="btn btn-default" type="button" (click)="onRefresh()">
      Refresh <span class="glyphicon glyphicon-refresh"></span>
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li appCursorPointer [routerLink]="[pl.Id]" class="list-group-item" appHover="list-group-item-info"
          *ngFor="let pl of players">


        <img *ngIf="(pl.Thumbnail !== null) && (pl.Thumbnail !== '');else defpic" src={{pl.Thumbnail}} style="max-height: 32px;max-width: 32px;">
        <ng-template #defpic>
          <img src="../../assets/img/user.svg" style="max-height: 32px;max-width: 32px;">
        </ng-template>


        {{pl.Name}} {{pl.Surname}}<span class="pull-right badge">
      {{pl.Id}}
      </span></li>
    </ul>
  </div>
</div>
