
<div class="container-fluid" style="margin: 10px;">
  <form [formGroup]="activityForm" (submit)="onSubmit()">
    <div class="row">
      <div class="col-xs-7">
        <input
          type="text"
          class="form-control"
          formControlName="Name"
          placeholder="Name">
      </div>

      <div class="col-xs-offset-1 col-xs-4">
        <select class="form-control" formControlName="Type">
          <option *ngFor="let type of activityTypes" [value]="type.Id">{{type.Name}}</option>
        </select>
      </div>


    </div>

    <br>

    <div class="row">

      <div class="col-xs-7">
        <input
          type="text"
          class="form-control"
          formControlName="Date"
          placeholder="Date (format: dd/MM/yyy HH:mm)">
      </div>

      <div class="col-xs-offset-1 col-xs-4">
        <div class="btn-toolbar pull-right">
          <button
            type="submit"
            class="btn btn-success btn-sm">
            {{submitButton}}
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="onCancel()">
            {{cancelButton}}
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>

    </div>
  </form>
</div>

