<!--&lt;!&ndash;<div class="dropdown">&ndash;&gt;-->
  <!--&lt;!&ndash;<button class="btn btn-default dropdown-toggle" appDropdown type="button" id="menu1" data-toggle="dropdown">&ndash;&gt;-->
    <!--&lt;!&ndash;{{toShow(+jsonString)}}&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="caret"></span></button>&ndash;&gt;-->
  <!--&lt;!&ndash;<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">&ndash;&gt;-->
    <!--&lt;!&ndash;<li *ngFor="let type of activityTypes" role="presentation"><a role="menuitem" tabindex="-1" >&ndash;&gt;-->
      <!--&lt;!&ndash;{{type.Value}}&ndash;&gt;-->
    <!--&lt;!&ndash;</a></li>&ndash;&gt;-->
  <!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<select class="form-control" value="{{toShow(+jsonString)}}">-->
  <!--<option *ngFor="let type of activityTypes" >{{type.Value}}</option>-->
<!--</select>-->
