<script src="edit-group.component.ts"></script>
<div class="container-fluid">
  <form [formGroup]="editForm" (submit)="onSubmit()">
    <div class="row">

      <div class="panel panel-default">
        <div class="panel-heading">
          Edit basic info:
        </div>
        <div class="panel-body">
          <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-sm-4 center-block">
                <div class="row">
                  <button class="btn btn-success" [disabled]="!editForm.valid" type="submit">Save</button>
                  <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                  <button *ngIf="editMode" type="button" class="btn btn-default" (click)="onRefresh()">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                  </button>
                </div>
              </div>

              <div class="col-xs-12 col-sm-8">
                <label for="Name">Name:</label>
                <input type="text" class="form-control" id="Name" formControlName="Name">
                <span *ngIf="!editForm.get('Name').valid && editForm.get('Name').touched" class="help-block">
                  Please enter a valid name!</span>
                <label for="Location">Location:</label>
                <input type="text" class="form-control" id="Location" formControlName="Location">
                <span *ngIf="!editForm.get('Location').valid && editForm.get('Location').touched" class="help-block">
                  Please enter a valid location!</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            Activity:
            <div class="btn-toolbar pull-right">
              <button class="btn btn-success btn-xs"  type="button" (click)="onAddActivity()">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <!--<button class="btn btn-default btn-xs " type="button">-->
                <!--<span class="glyphicon glyphicon-refresh"></span>-->
              <!--</button>-->
            </div>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
              <div class="list-group" formArrayName="Activities">
                <div
                  class="row"
                  *ngFor="let activity of editForm.get('Activities').controls; let i = index"
                  [formGroupName]="i"
                  style="margin-top: 10px;">
                  <input
                    type="number"
                    [hidden]="true"
                    formControlName="Id">
                  <input
                    type="number"
                    [hidden]="true"
                    formControlName="GroupId">
                  <div class="row">
                    <div class="col-xs-8">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="Name"
                        placeholder="Name">
                    </div>

                    <div class="col-xs-4">
                      <select class="form-control" formControlName="Type">
                        <option *ngFor="let type of activityTypes" [value]="type.Id">{{type.Name}}</option>
                      </select>
                    </div>


                  </div>

                  <br>

                 <div class="row">

                   <div class="col-xs-8">
                     <input
                       type="text"
                       class="form-control"
                       formControlName="Date"
                       placeholder="Date (format: dd/MM/yyy HH:mm)">
                   </div>

                   <div class="col-xs-4">
                     <button
                       type="button"
                       class="btn btn-danger btn-sm"
                       (click)="onDeleteItem('Activities', i)">
                       <span class="glyphicon glyphicon-remove"></span>
                     </button>
                   </div>

                 </div>

                  <hr>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          Players:
          <div class="btn-toolbar pull-right">
            <button class="btn btn-success btn-xs"  type="button" (click)="onAddPlayer()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <!--<button class="btn btn-default btn-xs " type="button">-->
              <!--<span class="glyphicon glyphicon-refresh"></span>-->
            <!--</button>-->
          </div>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
            <div class="list-group" formArrayName="GroupPlayers">
              <div
                class="row"
                *ngFor="let player of editForm.get('GroupPlayers').controls; let i = index"
                [formGroupName]="i"
                style="margin-top: 10px;">
                <!--Hidden-->
                <div [hidden]="true">
                  <input
                    type="text"
                    class="form-control"
                    [hidden]="true"
                    formControlName="Name">
                  <input
                    type="text"
                    class="form-control"
                    [hidden]="true"
                    formControlName="Surname">
                  <input
                    type="text"
                    class="form-control"
                    [hidden]="true"
                    formControlName="MiddleName">
                </div>
                <!--End of Hidden-->
                <div class="row">

                  <div class="col-xs-8">
                    <select class="form-control" formControlName="Id">
                      <option *ngFor="let singleOne of players" [value]="singleOne.Id" [disabled]="isPlayerSelected(singleOne.Id)">{{singleOne.Name}} {{singleOne.MiddleName}} {{singleOne.Surname}}</option>
                    </select>
                  </div>
                  <div class="col-xs-4">
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="onDeleteItem('GroupPlayers', i)">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            Coaching:
            <div class="btn-toolbar pull-right">
              <button class="btn btn-success btn-xs"  type="button" (click)="onAddCoach()">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <!--<button class="btn btn-default btn-xs " type="button">-->
                <!--<span class="glyphicon glyphicon-refresh"></span>-->
              <!--</button>-->
            </div>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
              <div class="list-group" formArrayName="Coaching">
                <div
                  class="row"
                  *ngFor="let coach of editForm.get('Coaching').controls; let i = index"
                  [formGroupName]="i"
                  style="margin-top: 10px;">
                  <!--Hidden-->
                  <div [hidden]="true">
                    <input
                      type="text"
                      class="form-control"
                      [hidden]="true"
                      formControlName="Name">
                    <input
                      type="text"
                      class="form-control"
                      [hidden]="true"
                      formControlName="Surname">
                    <input
                      type="text"
                      class="form-control"
                      [hidden]="true"
                      formControlName="Username">
                    <input
                      type="text"
                      class="form-control"
                      [hidden]="true"
                      formControlName="Birthday">
                    <input
                      type="text"
                      class="form-control"
                      [hidden]="true"
                      formControlName="CoachId">
                  </div>
                  <!--End of Hidden-->
                  <div class="row">
                    <div class="col-xs-8">
                      <select class="form-control" formControlName="Id">
                        <option *ngFor="let singleOne of coaches"
                                [value]="singleOne.Id"
                                [disabled]="isCoachSelected(singleOne.Id)">
                          {{singleOne.Name}} {{singleOne.Surname}}
                        </option>
                      </select>
                    </div>
                    <div class="col-xs-4">
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="onDeleteItem('Coaching', i)">
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  </form>
</div>



