<div class="container-fluid">
  <form [formGroup]="editForm" (submit)="onSubmit()">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          Edit basic info:
        </div>
        <div class="panel-body">
          <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-sm-4 center-block">
                <div class="row">
                  <button class="btn btn-success" type="submit">Save</button>
                  <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                  <button *ngIf="editMode" type="button" class="btn btn-default" (click)="onRefresh()">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                  </button>
                </div>
              </div>

              <div class="col-xs-12 col-sm-8">
                <label for="Name">Name:</label>
                <input type="text" class="form-control" id="Name" formControlName="Name">
                <span *ngIf="!editForm.get('Name').valid && editForm.get('Name').touched" class="help-block">
                  Please enter a valid name!</span>
                <label for="Location">Location:</label>
                <input type="text" class="form-control" id="Location" formControlName="Location">
                <span *ngIf="!editForm.get('Location').valid && editForm.get('Location').touched" class="help-block">
                  Please enter a valid location!</span>
              </div>
            </div>

          </div>
        </div>
      </div>



      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            Activity:
            <div class="btn-toolbar pull-right">
              <button class="btn btn-success btn-xs"  type="button" (click)="onAddActivity()">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button class="btn btn-default btn-xs " type="button">
                <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </div>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
              <div class="list-group" formArrayName="Activity">
                <div class="list-group-item" *ngFor="let activity of editForm.get('Activity').controls;let i = index">
                  <input type="text" class="form-control" [formControlName]="i">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            Coaching:
            <div class="btn-toolbar pull-right">
              <button class="btn btn-default btn-xs " type="button">
                <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </div>
          </div>
          <div class="panel-body collapse">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
              <div class="list-group" formArrayName="Coaching">
                <div class="list-group-item" *ngFor="let coaching of editForm.get('Coaching').controls;let i = index">
                  <input type="text" class="form-control" [formControlName]="i">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            Group Players:
            <div class="btn-toolbar pull-right">
              <button class="btn btn-default btn-xs " type="button">
                <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </div>
          </div>
          <div class="panel-body collapse">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
              <div class="list-group" formArrayName="GroupPlayers">
                <div class="list-group-item" *ngFor="let groupPlayers of editForm.get('Groups').controls;let i = index">
                  <input type="text" class="form-control" [formControlName]="i">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </form>
</div>



