/* You can add global styles to this file, and also import other style files */
.purple{
  background-color: #815aa4;
}

.panel-default > .panel-heading-custom, .panel-warning > .panel-heading-custom {
  background: #815aa4;
  color: #fff;
}

.scrollable {
  overflow-y:auto;
  /*overflow: -moz-scrollbars-none;*/
}

.size-500 {
  max-height: 500px;
}

.size-300 {
  max-height: 300px;
}

body{
  background-image: url('assets/img/bgteren_bw_logo_center.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

/*.panel, .panel-heading, .panel-body {*/
  /*border: 0px;*/
/*}*/

/*.panel-heading {*/
  /*border-radius: 0px;*/
/*}*/

/*.panel-body {*/
  /*border-radius: 0px;*/
  /*background-color: white;*/
/*}*/

* {
  border-radius: 0 !important;
}
