/* You can add global styles to this file, and also import other style files */
.purple{
  background-color: #230177;
}

body{
  background-image: url('assets/img/bgteren_bw_logo_center.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
