<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{group.Name}}'s Group:
        <div class="btn-toolbar pull-right">
          <button class="btn  btn-primary btn-xs" (click)="onEdit()">Edit</button>
          <button type="button" class="btn btn-default btn-xs" (click)="onRefresh()">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
          </button>
          <!--<button class="btn btn-default btn-xs ">-->
          <!--<span class="glyphicon glyphicon-refresh"></span>-->
          <!--</button>-->
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
          <div class="row">
            <!--<div class="col-xs-12 col-sm-4 center-block">-->
              <!--<div class="row">-->
                <!--<button class="btn btn-primary" (click)="onEdit()">Edit</button>-->
                <!--<button type="button" class="btn btn-default" (click)="onRefresh()">-->
                  <!--<span class="glyphicon glyphicon-refresh"></span> Refresh-->
                <!--</button>-->
              <!--</div>-->
            <!--</div>-->

            <div class="col-xs-12 col-sm-8">
              <label for="name">Name:</label>
              <h4 id="name"> {{group.Name}}</h4>
              <label for="location">Location:</label>
              <h4 id="location"> {{group.Location}}</h4>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Activities:
        <div class="btn-toolbar pull-right">
          <button class="btn btn-default btn-xs" (click)="toggleCollapseActivities()">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <button class="btn btn-success btn-xs " (click)="addActivities()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
      <div class="panel-body collapse" [ngClass]="{ 'in': isCollapsedActivities }">
        <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
          <ul class="list-group">
            <li  class="list-group-item" appCursorPointer
                 *ngFor="let activity of group.Activities"
                 [routerLink]="['/', 'activity', activity.Id]"
                 appHover="list-group-item active">
              <h4 class="list-group-item-heading"> {{activity.Name}}</h4>
              <p class="list-group-item-text">{{activity.Date | date: 'dd.MM.yyyy HH:mm'}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <app-add-activity
          *ngIf="addActivity"
          [groupId]="id"
          [cancelClick]="addActivities.bind(this)"
          [submitClick]="onAddedActivity.bind(this)"
          [submitButton]="'Add activity'">
        </app-add-activity>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Players:
        <div class="btn-toolbar pull-right">
          <button class="btn btn-default btn-xs" (click)="toggleCollapsePlayers()">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div>
      </div>
      <div class="panel-body collapse" [ngClass]="{ 'in': isCollapsedPlayers }">
        <div class="col-xs-12">
          <app-list-player [players]="group.GroupPlayers"></app-list-player>
          <!--<ul class="list-group">-->
            <!--<li appCursorPointer [routerLink]="['/','players',player.Id]" class="list-group-item" appHover="list-group-item-info"-->
                <!--*ngFor="let player of group.GroupPlayers">-->


              <!--<img *ngIf="(player.Thumbnail !== null) && (player.Thumbnail !== '');else defpic" src={{player.Thumbnail}} style="max-height: 32px;max-width: 32px;">-->
              <!--<ng-template #defpic>-->
                <!--<img src="../../assets/img/user.svg" style="max-height: 32px;max-width: 32px;">-->
              <!--</ng-template>-->
              <!--{{player.Name}} {{player.Surname}}-->
              <!--<span class="pull-right badge">-->
              <!--{{player.Id}}-->
              <!--</span>-->
            <!--</li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Coaches:
        <div class="btn-toolbar pull-right">
          <button class="btn btn-default btn-xs" (click)="toggleCollapseCoaches()">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div>
      </div>
      <div class="panel-body collapse" [ngClass]="{ 'in': isCollapsedCoaches }">
        <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1">
          <ul class="list-group">
            <li appCursorPointer
                class="list-group-item"
                appHover="list-group-item-info"
                *ngFor="let coach of group.Coaching">
              {{coach.Name}} {{coach.Surname}}<span class="pull-right badge">
      {{coach.Id}}
      </span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>



